.modal {
  background-color: rgba(0, 0, 0, 0.3);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  gap: 10px;
}

.container {
  margin: 0px auto;
  height: 836px;
  /* Width for Letter size */
  width: 1155px;
  /* Height for Letter size */
  /* background-color: antiquewhite; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 40px;
}

.scale {
  transform: scale(0.6);
  transform-origin: 0 center;
}

@media screen and (max-width: 600px) {
  .scale {
    transform: scale(0.4);
    transform-origin: 0 center;
  }
}

.header {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  height: 150px;
  width: 150px;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  mix-blend-mode: darken;
  /* removes background of image */
}

.title {
  font-size: 3rem;
  margin: 2px;
}

.main {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  align-items: center;
}

.description {
  text-align: center;
  width: 70%;
  padding: 7px 2px;
}

.name {
  font-weight: bold;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.qr {
  height: 100px;
  width: 100px;
  image-rendering: pixelated;
}

.signature {
  mix-blend-mode: darken;
  height: 100px;
}

.signatory,
.designation {
  text-align: center;
  font-size: 1.4rem;
}

.signatory {
  font-weight: bold;
}
